[phases.install]
cmds = [
  "composer install --optimize-autoloader --no-dev",
  "npm install",
  "npm run build"
]

[start]
# Perbaikan:
# 1. 'cp .env.example .env' -> Membuat file .env palsu agar key:generate tidak error.
# 2. 'key:generate' -> Menulis key baru ke file .env tersebut.
# 3. 'config:cache' -> Membaca file .env tersebut agar aplikasinya sadar ada key baru.

cmd = "php artisan migrate:fresh --force && php artisan config:cache && php artisan route:cache && php artisan view:cache && php artisan db:seed --force && php artisan serve --host=0.0.0.0 --port=$PORT"