services:
  - type: web
    name: lkh-kua
    env: php
    plan: free
    region: singapore
    buildCommand: composer install --optimize-autoloader --no-dev && npm ci && npm run build
    startCommand: php artisan serve --host=0.0.0.0 --port=$PORT
    healthCheckPath: /up
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_DEBUG
        value: false
      - key: LOG_CHANNEL
        value: stderr
      - key: SESSION_DRIVER
        value: database
      - key: QUEUE_CONNECTION
        value: database

